<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <title>Quiz: Universe</title>

    </head>

    <body class="universe">

        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><span class="blue">C</span><span class="red">S</span><span class="yellow">5</span><span class="green">0</span> <span class="red">Quiz</span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/">Homepage</a></li>
                            <li class="nav-item"><a class="nav-link" href="/sea">Sea</a></li>
                            <li class="nav-item"><a class="nav-link" href="/universe">Universe</a></li>
                            <li class="nav-item"><a class="nav-link" href="/plant">Plant</a></li>


                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container-fluid py-5 text-center">
          <div class="app">
            <h1>Universe</h1>
            <div class="quiz">
              <h2 id="question">Question goes here</h2>
              <div id="answer-buttons">
                <button class="btn">Answer 1</button>
                <button class="btn">Answer 2</button>
                <button class="btn">Answer 3</button>
                <button class="btn">Answer 4</button>
              </div>
              <button id="next-btn">Next</button>
            </div>
          </div>
          <script>
              const questions = [
          {
            question: "What are chunks of rocks of varied size in space called?",
            answers: [
              { text: "comets", correct: false },
              { text: "shooting stars", correct: false },
              { text: "stars", correct: false },
              { text: "asteroids", correct: true },
            ],
          },
          {
            question: "What 2 planets are most of the asteroids in our solar system found between?",
            answers: [
              { text: "Saturn and Jupiter", correct: false },
              { text: "Earth and Mars", correct: false },
              { text: "Mars and Jupiter", correct: true },
              { text: "Mercury and Venus", correct: false },
            ],
          },
          {
            question: "A star is a spinning ball of hot luminous gas which releases what through nuclear reactions?",
            answers: [
              { text: "sound", correct: false },
              { text: "gravity", correct: false },
              { text: "dust", correct: false },
              { text: "energy", correct: true },
            ],
          },
          {
            question: "All of the planets have at least one moon, except for which two?",
            answers: [
              { text: "Jupiter and Venus", correct: false },
              { text: "Uranus and Neptune", correct: false },
              { text: "Saturn and Mars", correct: false },
              { text: "Venus and Mercury", correct: true },
            ],
          },
          {
            question: "The elements hydrogen and helium together comprise what percent of almost all matter in the Universe?",
            answers: [
              { text: "96 percent", correct: false },
              { text: "75 percent", correct: false },
              { text: "98 percent", correct: true },
              { text: "83 percent", correct: false },
            ],
          },
        ];

        const questionElement = document.getElementById("question");
        const answerButtons = document.getElementById("answer-buttons");
        const nextButton = document.getElementById("next-btn");

        let currentQuestionIndex = 0;
        let score = 0;

        function startQuiz() {
          currentQuestionIndex = 0;
          score = 0;
          nextButton.innerHTML = "Next";
          showQuestion();
        }

        function showQuestion() {
          resetState();
          let currentQuestion = questions[currentQuestionIndex];
          let questionNo = currentQuestionIndex + 1;
          questionElement.innerHTML = questionNo + ". " + currentQuestion.question;

          currentQuestion.answers.forEach((answer) => {
            const button = document.createElement("button");
            button.innerHTML = answer.text;
            button.classList.add("btn");
            answerButtons.appendChild(button);
            if (answer.correct) {
              button.dataset.correct = answer.correct;
            }
            button.addEventListener("click", selectAnswer);
          });
        }

        function resetState() {
          nextButton.style.display = "none";
          while (answerButtons.firstChild) {
            answerButtons.removeChild(answerButtons.firstChild);
          }
        }

        function selectAnswer(e) {
          const selectedBtn = e.target;
          const isCorrect = selectedBtn.dataset.correct === "true";
          if (isCorrect) {
            selectedBtn.classList.add("correct");
            score++;
          } else {
            selectedBtn.classList.add("incorrect");
          }
          Array.from(answerButtons.children).forEach((button) => {
            if (button.dataset.correct === "true") {
              button.classList.add("correct");
            }
            button.disable = true;
          });
          nextButton.style.display = "block";
        }

        function showScore() {
          resetState();
          questionElement.innerHTML = `You scored ${score} out of ${questions.length}!`;
          nextButton.innerHTML = "Play again";
          nextButton.style.display = "block";
        }

        function handleNextButton() {
          currentQuestionIndex++;
          if (currentQuestionIndex < questions.length) {
            showQuestion();
          } else {
            showScore();
          }
        }

        nextButton.addEventListener("click", () => {
          if (currentQuestionIndex < questions.length) {
            handleNextButton();
          } else {
            startQuiz();
          }
        });
        startQuiz();

          </script>
        </main>

        <footer class="mb-5 small text-center text-muted">

        </footer>

    </body>

</html>
